* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}

.jumbo-img {
    width: 100%;
    max-height: 50vh;
}