* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}

a {
  text-decoration: none;
  color: black;
  text-decoration: solid;
}

li a:hover {
  text-decoration: underline 3px blue;

}


img {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 10px;
}

.navbar {
  background-color: white;
}


.jumbo {
  height: 300px;

}

.jumbo .jumbo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

.container {
  margin: 0 auto;
  max-width: 80%
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(100% / 9);
  padding: 100px
}

.card-container .card {
  width: calc(100% / 9);
  margin-top: 20px;

}

.card {
  color: white;
}

.card:hover {
  transform: scale(1.10);
  box-shadow: 0 15px 35px rgba(248, 246, 246, 0.2);
}

.card-section {
  background-color: black;
}


footer {
  background-color: rgb(80, 80, 224);
}

.button-load {
  color: white;
}

.blue-bar {
  background-color: #0282f9;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;

}

.blue-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.blue-item img {
  width: 35px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-left: 90px;
  padding-top: 40px;

}

.footer-links {
  list-style: none;

}

.footer-links li a {
  color: white;
}

.container-dc {
  background-image: url(../src/assets/img/footer-bg.jpg);
  height: 40vh;
}