* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: red;
}

a {
  text-decoration: none;
  color: black;
  text-decoration: solid;
}

img {
  max-width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-evenly;

}

.navbar {
  background-color: white;
}


.jumbo {
  height: 300px;

}

.jumbo .jumbo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: calc(100% / 9);
  padding: 100px
}

.card-container .card {
  width: calc(100% / 9);
  margin-top: 20px;

}

.card {
  color: white;
}


body {
  background-color: black;
}

footer {
  background-color: rgb(80, 80, 224);
}

.button-load {
  color: white;
}