.header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  height: 40px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: bold;
}


.hero {
  background: #1c1c1c;
  color: white;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}